* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  color: #48544c;
  background: linear-gradient(to right top, #d16bc4, #a88eee, #70abff, #3bc3ff, #41d5f3, #45e0e9, #5fe9d9, #82f1c8, #8ef7b3, #a5fb99, #c4fc7c, #e7fb5f);
}

select {
  padding: 5px;
  font-size: 14px;
  outline: none;
  background-color: #ddd;
  border: 1px solid transparent;
  cursor: pointer;
}

select:hover {
  background: #c7c7c7;
}

option {
  margin: 5px;
  border: none;
}

select:active {
  background-color: #f2f8f4;
}


.App {
  display: flex;
}

.btn {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  background: #bebee03a;
  border-radius: 5px;
  color: #eee;
  font-size: 18px;
  width: fit-content;
}

.btn+.btn {
  margin-top: 10px;
}

.ContextMenu-btn {
  margin-left: 10px;
  transition: 0.1s;
}

.ContextMenu-btn:hover {
  margin-left: 20px;

}

.input {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  background-color: #f2f8f4;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: none;
  overflow: hidden;
  resize: none;
  font-size: 16px;

  font-weight: 500;
}

.input:focus {
  outline: none;
}

.Link-normalize {
  text-decoration: none;
  color: #48544c;
}


/* Sidebar styles */

.Sidebar {
  width: 250px;
  height: 100vh;
  background-color: #ffffff14;
  border-right: 1px solid #00000011;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.Sidebar__inner {
  padding: 15px;
  color: #48544c;
  font-weight: 500;
}

.Sidebar__title {
  display: flex;
  justify-content: space-between;
}

.Sidebar__boards {
  display: block;
}

.Sidebar__link {
  padding: 5px 10px;
}

.Sidebar__link a {
  text-decoration: none;
  color: #48544c;
}

/* Board styles */

.Board {
  flex: 1;
  display: flex;
  overflow: auto;

  height: 100vh;
  padding: 15px;
}

.Board__inner {
  display: flex;
}


/* List styles */
.List {
  height: min-content;
  max-height: 100%;
  width: 300px;

  background-color: #f7f7f7cc;
  padding: 10px;
  border-radius: 5px;

  margin-right: 15px;
}

.List__header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.List__header h3 {
  margin-bottom: 15px;
  cursor: pointer;
  display: block;
  width: 100%;
}

.List__inner {
  padding-right: 5px;
  max-height: calc(90vh - 80px);
  scrollbar-gutter: stable;
  overflow-y: auto;
}



.List form {
  margin-bottom: 15px;
}

.List input {
  padding: 5px;
  font-weight: 700;
  font-size: 18.75px;

  border: none;
  border-radius: 10px;
  outline-color: #5757ff;
  box-sizing: content-box;
}


.AddList {
  width: 300px;
  height: fit-content;

  background-color: rgba(1, 1, 1, 0.1);
  padding: 10px;
  border-radius: 5px;
  color: #48544c;
  cursor: pointer;
}

.ListHeader {
  padding-right: 25px;

  margin-bottom: 15px;
  cursor: pointer;
}

.ListHeader:hover {
  background-color: rgba(1, 1, 1, 0.05);
  color: #68646c;
}

/* Card styles */

.Card {
  width: 100%;
  min-height: 50px;
  padding: 5px;
  margin-bottom: 15px;
  background-color: #f2f8f4;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  word-break: break-word;
  overflow-x: visible;
}

.current {
  background-color: #48544c;
}

.Card:hover {
  background-color: #e2e8e4;
  cursor: pointer;
}

.CardAdd {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
}

.CardAdd:hover {
  background-color: #d2d8d4;
  cursor: pointer;
}

.Card__buttons {
  display: flex;
  justify-content: space-between;
}

.CardContextMenu-form {
  cursor: default;
  z-index: 1000;
  top: 0;
  left: 0;
  position: absolute;
  width: 260px;
}

.ContextMenu {
  cursor: default;
  z-index: 1000;
  position: absolute;
  top: 0;
}

.ContextMenu__inner {
  min-width: 200px;
  width: fit-content;
  min-height: 100px;
  position: fixed;
  display: flex;
  flex-direction: column;
}




.CardContextMenu__background {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}


.closeIcon {
  width: 24px;
  height: 24px;
  background: url('../src/icons/closeIcon.svg');
  cursor: pointer;
}

.CloseIcon-abs {
  position: absolute;
  top: 5px;
  right: 5px;
}


.CardModal__title {
  width: 95%;
  padding: 15px;
  border-radius: 5px;

}

.CardModal__description {
  padding: 15px;
}

.CardModal__description h3 {
  margin-bottom: 15px;
}

.CardModal__description span {
  padding: 10px;
}

.CardSkeleton {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  background-color: #00000046;
  border-radius: 5px;
  position: relative;
}

.CardSkeleton::before {
  content: "";
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}

.CardMoving {
  width: 235px;
  height: 235px;
  background: #ece9e9;
  border-radius: 5px;
  padding: 5px;
}

.CardMoving__title {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #00000022;
  margin-bottom: 5px;
}

.CardMoving__text {
  font-size: 14px;
}

.CardMoving__flex {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CardMoving__btn {
  text-align: center;
}